<div class="d-flex">
<%= form_tag( friends_path, {method: :get, class: 'form-inline'}) do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control mr-2 w-70vw",
    placeholder: "Find a friend"
  %>
  <%= submit_tag "Search", class: "btn btn-dark" %>
<% end %>
</div>
<div class="cards mt-4">
  <% @friends.each do |friend| %>
    <div class="card-wrapper-index">
      <% if friend.user == current_user %>
        <div class="card-owner"><span class="badge badge-primary">Portfolio</span></div>
      <% end %>
      <%= link_to friend_path(friend) do %>
        <div class="card-trip">
          <%= cl_image_tag friend.photo.key if friend.photo.attached? %>
          <div class="card-trip-infos">
            <div>
              <h2><%= friend.name %></h2>
              <p> <%= friend.age %> years old, <%= friend.city %></p>
            </div>
            <h2> <%= friend.price.round if friend.price.present? %> € / day</h2>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
