<div class="container m-3">
  <h1><%=@recipe.name %>
    <span>
      <%= link_to edit_recipe_path(@recipe) do %>
        <i class="fas fa-pen edit-icon ml-2"></i>
      <% end %>
    </span>
  </h1>
    <p>
      Temps total : <%= @recipe.time %> minutes - Difficulté : <%= @recipe.difficulty if @recipe.difficulty.present? %>/5
    </p>
</div>

<div class="container">
  <div class="row">
    <div class="col-8">
      <div class="row">
        <div class="col-6">
          <div class="container">
            <% if @recipe.photo.attached?%>
               <%= cl_image_tag @recipe.photo.key, width: 300, height: 300, crop: :fill %>
            <% else %>
              <%= cl_image_tag "", width: 300, height: 300, crop: :fill %>
            <%end%>
          </div>
        </div>
        <div class="col-6">
          <div class="container text-justify">
            <h5 class="ingredients-card-title pt-3">Description
              <span>
                <%= link_to edit_recipe_path(@recipe) do %>
                  <i class="fas fa-pen edit-icon ml-2"></i>
                <% end %>
              </span>
            </h5>
            <p><%= @recipe.description %></p>
          </div>
        </div>
      </div>
    </div>

<!-- Ingredients -->
    <div class="col-4">
      <div class="ingredients-card text-justify">
        <div class="p-3">
          <h5 class="ingredients-card-title">Ingrédients</h5>
          <p class="font-weight-normal pt-1">
            <ul id = "quantities-container">
              <% @recipe.quantities.each do |quantity| %>
                <%= render 'quantities/quantity_line', quantity: quantity %>
              <% end %>
            </ul>
            <div id= "new-quantity" >
              <%= render 'quantities/form', recipe: @recipe, quantity: @quantity %>
            </div>
            <div>
              Vous ne trouvez pas votre ingrédient dans la liste ?
              <button type="button" class="btn btn-light card-ingredient" data-toggle="modal" data-target="#ingredientModal">
                Créez-le dans la base !
              </button>
            </div>
            <div>
              Vous vous êtes trompé(e) en créant votre ingrédient ?
              <button type="button" class="btn btn-light card-ingredient" data-toggle="modal" data-target="#deleteIngredientModal">
                Supprimez-le.
              </button>
            </div>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal nouvel ingrédient -->
<div class="modal fade" id="ingredientModal" tabindex="-1" role="dialog" aria-labelledby="ingredientModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content text-center">
      <div class="modal-header">
        <h5 class="modal-title" id="ingredientModalLabel">Créez un nouvel ingrédient</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <%= simple_form_for [@recipe, @ingredient] do |f| %>
          <div class="form-group p-3">
            <%= f.input :name, type: "text", label: "Nom de l'ingrédient", class: "form-control", as: :string %>
            <div class="text-center">
              <%= f.submit 'Créer', class: 'btn btn-primary mb-2' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


<!-- Modal supprimer ingrédient -->
<div class="modal fade" id="deleteIngredientModal" tabindex="-1" role="dialog" aria-labelledby="deleteIngredientModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content text-center">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteIngredientModalLabel">Supprimer un ingrédient de la base</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <%= form_tag( ingredients_path, {method: :get, class: 'form-inline'}) do %>
          <%= select_tag(
            :name,
            options_for_select(Ingredient.all.map{|t| t.name.downcase}.sort, :name),
            prompt: "Ingredient",
            class: "form-control mr-1 w-70vw"
          ) %>
          <%= submit_tag "Supprimer", class: "btn btn-dark ml-1" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
