<div class="container m-3">
  <h1><%=@recipe.name %></h1>
    <p>
      Temps total : <%= @recipe.time %> minutes - Difficulté : <%= @recipe.difficulty if @recipe.difficulty.present? %>/5
    </p>
</div>

<div class="container">
  <div class="row">
    <div class="col-8">
      <div class="row">
        <div class="col-6">
          <div class="container">
            <% if @recipe.photo.attached?%>
               <%= cl_image_tag @recipe.photo.key, width: 300, height: 300, crop: :fill %>
            <% else %>
              <%= cl_image_tag "", width: 300, height: 300, crop: :fill %>
            <%end%>
          </div>
        </div>
        <div class="col-6">
          <div class="container text-justify">
            <p><%= @recipe.description %></p>
          </div>
        </div>
      </div>
    </div>

<!-- Ingredients -->
    <div class="col-4">
      <div class="ingredients-card text-justify">
        <div class="p-3">
          <h5 class="ingredients-card-title">Ingredients</h5>
          <p class="font-weight-normal pt-3">
            <ul id = "quantities-container">
              <% @recipe.quantities.each do |quantity| %>
                <%= render 'quantities/quantity_line', quantity: quantity %>
              <% end %>
            </ul>
            <div id= "new-quantity" >
              <%= render 'quantities/form', recipe: @recipe, quantity: @quantity %>
              <p>Vous ne trouvez pas votre ingrédients dans la liste ?
                <button type="button" class="btn btn-light card-ingredient" data-toggle="modal" data-target="#ingredientModal">
                  Créez-le dans la base
                </button>
              </p>
            </div>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal nouvel ingrédient -->
<div class="modal fade" id="ingredientModal" tabindex="-1" role="dialog" aria-labelledby="ingredientModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content text-center">
      <div class="modal-header">
        <h5 class="modal-title" id="ingredientModalLabel">Créez un nouvel ingrédient</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <%= simple_form_for [@recipe, @ingredient] do |f| %>
          <%= f.input :name, type: "text", label: "Nom de l'ingrédient", class: "form-control", as: :string %>
          <%= f.submit 'Créer', class: 'btn btn-apply mb-2' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
